.spanText{
    font-weight: 600 !important;
}

.table{
    /* position: sticky !important; */
    /* bottom: 1vh !important; */
    background-color: black ;
}
@media print {
    .table{
        position: sticky;
        bottom: 1vh;
    }
}