/* @import url('../../App.css'); */
.result__container {
    /* margin-top: 4vh !important; */
    margin-top: 4vh;
    
    width: 425px;   
    /* min-height: 250px; */
    max-height: 100%;
    padding: 2vh;
    position: sticky;
    top: 15vh;
    right: 0vh;
    margin-right: 3vh !important;
    border-style: solid;
    /* display: grid; */
  /* justify-self: end; */
    display: flex;
    flex-direction: column; 
     justify-content: center;
     align-items: center;
    border-width: 1px;
    border-color: rgb(160, 179, 179);
    transition-property: background-color, top, bottom, left, right,  height, display, position !important;
    transition-duration: 5.5s !important; 
    transition-delay: 0.5s; 
    background-color: rgb(255, 254, 246);
}
.text{
    display: flex;
    justify-content: space-between;
    transition-property: background-color, top, bottom, left, right,  height, display !important;
    transition-duration: 5.5s !important; 
    transition-delay: 0.5s; 
}
.textLt{
    display: flex;
    justify-content: space-between;
    transition-property: background-color, top, bottom, left, right,  height, display !important;
    transition-duration: 5.5s !important; 
    transition-delay: 0.5s; 
}
.text, .textLt {
    margin: 2%;
}
.spanResult{
    font-weight: 600;
}
.information{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    
}




@media (max-width: 778px) {

    .result__container{
        width: 100%;
        min-height: 10px;
        height: auto;
        padding: 2vh;
        /* position: sticky;
        right: 0vh;
        left: 0vh;
        bottom: 0px; */
        display: flex;
        flex-direction: column;

        justify-content: flex-end;
        margin-right: 0vh !important;
        
    }
    .information{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-wrap: wrap;
        
    }


    .text, .textLt{
        margin: 1px;
        font-size: small;
      
    }

}

@media (max-width: 680px) {

    .result__container{
        /* width: 75vh; */
        min-height: 10px;
        height: auto;
        padding: 2vh;
        /* position: sticky;
        right: 0vh;
        left: 0vh;
        bottom: 50vh; */
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        margin-right: 0vh !important;
     
    }
    .information{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-wrap: wrap;
        
    }


    .text{
        margin: 1px;
        font-size: small;
    }
    .textLt{
        display: none !important;
    }

}